input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.filterByCategoriesBtn {
  margin-right: 7%;
  float: right;
  top: 15px;
  border-radius: 30px;
  padding: 20px 35px;
  color: white;
  background-color: black;
  font-size: 16px;
  margin-bottom: 20px;
}

.card-style > .ant-card-body {
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#service-aside {
  flex: 0 0 300px !important;
  max-width: 300px !important;
    min-width: 300px !important;
    width: 300px !important;
    background-color: #ededed;
    padding: 100px 50px;
}