.img-border {
    border-radius: 15px 15px 0 0;
    height: 200px;
    width:300px;
    object-fit: cover;
}

#filter {
    color: black;
    display: inline-block;
  padding: auto 10% 0 20%;
    margin-left: 9%;
    width: 20%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#topbar { 
  color: white;
}

.fl_left {
  float: left;
}

.fl_right {
  float: right;
}

.card-style {
  width: '80%';
  box-shadow: 6px 5px 30px rgba(0, 0, 0, 0.5);
}

.filter-items {
  gap:5px;
  display: inline-grid;
}

.filterByCategoriesBtn {
  position: absolute;
  margin-right: 7%;
  right: 0;
  top: 15%;
  border-radius: 30px;
  padding: 20px 35px;
  color: white;
  background-color: black;
  font-size: 16px;
}

.card-style > .ant-card-body {
  background-color: rgb(243, 243, 243);
}

.detailsBtn {
  margin-top: 20px;
  background-color: black;
  color: white;
}

.block {
  display: block;
}